* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: "Manrope", "Montserrat", 'Courier New', Courier, monospace;
  color: #ccc;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #0f0f0f;
  background: radial-gradient(circle, #0f0f0f 0%, #0e0e0e 22%, #060606 100%);
}

body > div {
  background-color: transparent;
}

.stopwatch {
  position: absolute;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 50px;
  width: 100px;
  top: 10px;
  right: 10px;
  border: thin solid #ccc;
  border-radius: 10px;
}

.stopwatch__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 26px;
}

.word-wrapper {
  width: 100%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.word-wrapper .word-field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  color: #ccc;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.word-wrapper .word-field > div {
  width: 50px;
  height: 50px;
  border-bottom: 2px solid #ccc;
  margin: 0 10px;
  font-size: 40px;
  text-align: center;
}

.give-a-try, .finish-game {
  color: #000;
  background-color: #00ffff;
  border: none;
  font-size: 25px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.give-a-try:hover, .finish-game:hover {
  background-color: #00e6e6;
}

.wrapper {
  width: 30%;
  height: 300px;
  display: block;
  position: relative;
}

.wrapper .head {
  width: 50px;
  height: 60px;
  border: 5px solid #fff;
  border-radius: 50%;
  display: block;
  position: absolute;
  top: 21px;
  left: 133px;
  z-index: 1;
  -webkit-animation: rock 1s alternate infinite ease-in-out;
          animation: rock 1s alternate infinite ease-in-out;
  -webkit-transform-origin: center bottom;
          transform-origin: center bottom;
}

@-webkit-keyframes rock {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

@keyframes rock {
  0% {
    -webkit-transform: rotate(-10deg);
            transform: rotate(-10deg);
  }
  100% {
    -webkit-transform: rotate(10deg);
            transform: rotate(10deg);
  }
}

.wrapper .torso {
  width: 6px;
  height: 100px;
  border: 3px solid #fff;
  display: block;
  position: absolute;
  top: 80px;
  left: 156px;
}

.wrapper .leftleg {
  width: 6px;
  height: 100px;
  border: 3px solid #fff;
  display: block;
  position: absolute;
  top: 175px;
  left: 155px;
  -webkit-transform: rotate(12deg);
          transform: rotate(12deg);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.wrapper .rightleg {
  width: 6px;
  height: 100px;
  border: 3px solid #fff;
  display: block;
  position: absolute;
  top: 175px;
  left: 157px;
  -webkit-transform: rotate(-12deg);
          transform: rotate(-12deg);
  -webkit-transform-origin: top;
          transform-origin: top;
}

.wrapper .leftarm {
  width: 100px;
  height: 6px;
  border: 3px solid #fff;
  display: block;
  position: absolute;
  top: 86px;
  left: 57px;
  -webkit-animation: wave 1s alternate infinite ease-in-out;
          animation: wave 1s alternate infinite ease-in-out;
  -webkit-transform-origin: 100%;
          transform-origin: 100%;
}

@-webkit-keyframes wave {
  0% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
}

@keyframes wave {
  0% {
    -webkit-transform: rotate(-20deg);
            transform: rotate(-20deg);
  }
  100% {
    -webkit-transform: rotate(40deg);
            transform: rotate(40deg);
  }
}

.wrapper .rightarm {
  width: 100px;
  height: 6px;
  border: 3px solid #fff;
  display: block;
  position: absolute;
  top: 86px;
  left: 161px;
  -webkit-animation: wave2 1s alternate infinite ease-in-out;
          animation: wave2 1s alternate infinite ease-in-out;
  -webkit-transform-origin: 0%;
          transform-origin: 0%;
}

@-webkit-keyframes wave2 {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}

@keyframes wave2 {
  0% {
    -webkit-transform: rotate(20deg);
            transform: rotate(20deg);
  }
  100% {
    -webkit-transform: rotate(-40deg);
            transform: rotate(-40deg);
  }
}

.wrapper .leftfoot {
  width: 30px;
  height: 6px;
  border: 3px solid #fff;
  display: block;
  position: absolute;
  top: 270px;
  left: 110px;
  -webkit-transform: rotate(8deg);
          transform: rotate(8deg);
}

.wrapper .rightfoot {
  width: 30px;
  height: 6px;
  border: 3px solid #fff;
  display: block;
  position: absolute;
  top: 270px;
  left: 178px;
  -webkit-transform: rotate(-8deg);
          transform: rotate(-8deg);
}

.keyboard-wrapper {
  width: 50%;
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.keyboard-wrapper button {
  border: thin solid #ccc;
  border-radius: 5px;
  background: #333;
  color: #eee;
  text-align: center;
  width: 60px;
  height: 60px;
  margin: 3px;
  cursor: pointer;
  outline-color: #00e6e6;
}

.keyboard-wrapper button:hover {
  background: #2a2a2a;
  color: #fff;
}

.keyboard-wrapper button:active {
  background: #121212;
  color: #fff;
}

.removing {
  -webkit-animation: removeBodyPart .5s ease-in-out;
          animation: removeBodyPart .5s ease-in-out;
}

@-webkit-keyframes removeBodyPart {
  0% {
    -webkit-transform: rotateX(30deg);
            transform: rotateX(30deg);
    background-color: #fff;
  }
  20% {
    -webkit-transform: rotateX(-30deg);
            transform: rotateX(-30deg);
  }
  40% {
    -webkit-transform: rotateX(30deg);
            transform: rotateX(30deg);
  }
  60% {
    -webkit-transform: rotateX(-30deg);
            transform: rotateX(-30deg);
  }
  80% {
    -webkit-transform: rotateX(30deg);
            transform: rotateX(30deg);
  }
  100% {
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
}

@keyframes removeBodyPart {
  0% {
    -webkit-transform: rotateX(30deg);
            transform: rotateX(30deg);
    background-color: #fff;
  }
  20% {
    -webkit-transform: rotateX(-30deg);
            transform: rotateX(-30deg);
  }
  40% {
    -webkit-transform: rotateX(30deg);
            transform: rotateX(30deg);
  }
  60% {
    -webkit-transform: rotateX(-30deg);
            transform: rotateX(-30deg);
  }
  80% {
    -webkit-transform: rotateX(30deg);
            transform: rotateX(30deg);
  }
  100% {
    -webkit-transform: rotateX(-10deg);
            transform: rotateX(-10deg);
  }
}

.guess-the-word-modal {
  position: absolute;
  width: 450px;
  height: 250px;
  background: #0f0f0f;
  border: thin solid #ccc;
  border-radius: 10px;
  top: 100px;
  z-index: 10;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.guess-the-word-modal .input-container {
  width: 90%;
  margin: 10px 0;
}

.guess-the-word-modal #guess-word-input {
  width: 90%;
  margin: 10px 0;
  padding: 5px 5px 5px 20px;
  border-radius: 30px;
  background-color: #2a2a2a83;
  border: none;
}

.guess-the-word-modal .hide-modal {
  position: absolute;
  font-size: 30px;
  top: 10px;
  right: 10px;
  color: red;
  background-color: transparent;
  border: none;
}

.end-game-board {
  width: 70%;
  height: 500px;
  position: absolute;
  top: 50px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: #2a2a2a;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  z-index: 10;
}

.end-game-board button {
  color: #000;
  background-color: #00ffff;
  border: none;
  font-size: 25px;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
}

.end-game-board button:hover {
  background-color: #00e6e6;
}

.end-game-board .plaq {
  font-size: 40px;
  font-weight: bold;
}

.end-game-board div {
  margin: 20px 0;
  font-size: 25px;
  letter-spacing: 2pt;
}

#confetti-holder {
  position: fixed;
  height: 100vh;
  pointer-events: none;
  width: 100%;
  top: 0;
  z-index: 2;
  text-align: center;
  vertical-align: middle;
}

#e0DQ82qcIov1 {
  height: 150vh;
  min-width: 600px;
  min-height: 600px;
}

.center {
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #FFF8F5;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#shooter {
  font-weight: 500;
  padding: 16px 32px;
  min-width: 200px;
  overflow: hidden;
  cursor: pointer;
  outline: none;
  color: rgba(250, 250, 255, 0.9);
  background-color: #E64784;
  border: none;
  border-radius: 48px;
  -webkit-box-shadow: 0 4px 8px #F2B3C8;
          box-shadow: 0 4px 8px #F2B3C8;
  -webkit-tap-highlight-color: transparent;
  -webkit-transition: -webkit-box-shadow 0.1s ease-out;
  transition: -webkit-box-shadow 0.1s ease-out;
  transition: box-shadow 0.1s ease-out;
  transition: box-shadow 0.1s ease-out, -webkit-box-shadow 0.1s ease-out;
}

#shooter:hover {
  background-color: #F74D8D;
  color: #fafaff;
  -webkit-box-shadow: 0 8px 16px #F6CEDA;
          box-shadow: 0 8px 16px #F6CEDA;
}

#shooter:active {
  -webkit-box-shadow: 0 0 8px #F6CEDA;
          box-shadow: 0 0 8px #F6CEDA;
  -webkit-transform: translateY(4px);
          transform: translateY(4px);
  color: #fff;
}

span.shoot {
  font-size: 28px;
  text-align: center;
  pointer-events: none;
}

#love {
  position: fixed;
  color: rgba(10, 0, 15, 0.48);
  bottom: 1rem;
  -webkit-tap-highlight-color: transparent;
  font-size: 1.2vw;
}

#svgator {
  color: rgba(100, 90, 210, 0.8);
}

#svgator:hover {
  color: #645ae6;
}

a:visited {
  color: #645ad2;
}

.hide {
  display: none;
}
/*# sourceMappingURL=style.css.map */